@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --offBlack: #0b0b0b;
  --casperWhite: #f7f7ff;
  --shadowGrey: #b7b7b7;
  --crimsonRed: #922222;
}

body {
  @apply bg-offBlack px-8 pt-5;
}

/* TYPOGRAPHY */

h1.hero {
  @apply font-neueMontreal font-medium text-casperWhite text-[160px] tracking-[.02px] uppercase leading-[140px];
}

h1 {
  @apply font-neueMontreal font-medium text-casperWhite text-[120px] tracking-[.02px] uppercase leading-[130px];
}

h2 {
  @apply font-neueMontreal font-medium text-casperWhite text-[32px] tracking-[.02px] uppercase leading-[20px] mb-[10px];
}

h3 {
  @apply font-neueMontreal font-medium text-casperWhite text-[20px] tracking-[.01px] uppercase leading-[20px];
}

p {
  @apply font-neueMontreal font-medium text-casperWhite text-[20px] tracking-[.01px] leading-[20px];
}

li {
  @apply font-neueMontreal font-medium text-casperWhite text-[20px] tracking-[.01px] uppercase leading-[20px];
}

.active {
  @apply text-casperWhite;
}

.inactive {
  @apply text-shadowGrey;
}

/* when link is active make it casperwhite when inactive make it shadowgrey on all pages except the home page */

/* SPACING */

.container {
  @apply !max-w-full grid grid-cols-12 gap-5;
}

.section {
  @apply pt-40
}
