@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --offBlack: #0b0b0b;
  --casperWhite: #f7f7ff;
  --shadowGrey: #b7b7b7;
  --crimsonRed: #922222;
}

body {
  @apply bg-offBlack;
}
