@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --offBlack: #0b0b0b;
  --casperWhite: #f7f7ff;
  --shadowGrey: #b7b7b7;
  --crimsonRed: #922222;
}

body {
  @apply bg-offBlack px-8;
}

/* TYPOGRAPHY */

h1.hero {
  @apply font-neueMontreal font-medium text-casperWhite text-[160px] tracking-[.02px] uppercase leading-[140px] left-[47%] w-[95%] pl-8;
  transform: translate(-50%, -50%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

h1.hero .char {
  @apply relative will-change-transform;
}

.neighborhoodsPage h1,
.neighborhoodPage h1,
.musingsPage h1,
.articlePage .heading h1,
.propertyPage h1,
.aboutPage h1
/* .featuredListings .title  */ {
  @apply relative will-change-transform w-full left-1/2 -bottom-[7.5vh];
  transform: translate(-50%, -50%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.articlePage .heading h1 .line {
  @apply relative will-change-transform;
}

.neighborhoodsPage .subtitle,
.neighborhoodPage .subtitle,
.musingsPage .subtitle,
.articlePage .subHeadings {
  @apply relative will-change-transform left-1/2 top-4;
  transform: translate(-50%, -50%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.featuredListings .title {
  @apply relative will-change-transform;
  transform: translate(-50%, -50%);
}

.meetMe .titles {
  @apply relative will-change-transform left-1/2 top-32 pt-4;
  height: 100%;
  display: block;
  transform: translate(-50%, -50%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.neighborhoodsPage .subtitle .line,
.neighborhoodPage .subtitle .line,
.musingsPage .subtitle .line,
.articlePage .subHeadings .word,
.featuredListings .title .line,
.featuredListings .title h1 .word,
.featuredListings .title h2 .word {
  @apply relative will-change-transform;
}

.featuredListings .title *,
.meetMe .titles h2 {
  @apply !flex;
}

h1 {
  @apply font-neueMontreal font-medium text-casperWhite text-[120px] tracking-[.02px] uppercase leading-[120px];
}

h2,
.h2 {
  @apply font-neueMontreal font-medium text-casperWhite text-[32px] tracking-[.02px] uppercase leading-[20px] mb-[10px];
}

h3,
.h3 {
  @apply font-neueMontreal font-medium text-casperWhite text-[20px] tracking-[.01px] uppercase leading-[20px];
}

h4 {
  @apply font-neueMontreal font-medium text-casperWhite text-[18px] tracking-[.01px] uppercase leading-[18px];
}

h5 {
  @apply font-neueMontreal font-medium text-casperWhite text-[14px] tracking-[.01px] uppercase leading-[14px];
}

p,
.p {
  @apply font-neueMontreal font-medium text-casperWhite text-[20px] tracking-[.01px] leading-[20px] whitespace-pre-wrap;
}

p.subtitle {
  @apply text-[28px] leading-[28px];
}

li,
.li {
  @apply font-neueMontreal font-medium text-casperWhite text-[20px] tracking-[.01px] uppercase leading-[20px];
}

nav li {
  @apply text-[18px] cursor-pointer;
}

nav li > * {
  @apply !cursor-pointer;
}

a {
  @apply transition-all duration-300 hover:text-casperWhite;
}

input,
textarea {
  @apply pt-4 outline-none;
}

.active {
  @apply text-casperWhite;
}

.inactive {
  @apply text-shadowGrey;
}

/* BUTTONS */
button,
.button {
  @apply font-neueMontreal font-medium text-casperWhite text-[20px] tracking-[.01px] leading-[20px] border-b-casperWhite border-b-[1px] py-1 px-2 uppercase 
  min-w-[10vw]
  /* hover:bg-casperWhite hover:!text-offBlack  hover:rounded-lg; */;
}

button.group {
  @apply px-2 py-0;
  /* hover:pt-1 hover:px-2; */
}

button.group span.second {
  @apply pt-[1rem] pb-[.3rem];
}

button.group > span {
  @apply justify-center items-center flex;
}

/* SPACING */

.container {
  @apply !max-w-full grid grid-cols-12 gap-5;
}

.section {
  @apply mt-[15rem];
}

.neighborhood a.active {
  @apply text-casperWhite;
}

.neighborhood a.inactive {
  @apply !text-shadowGrey;
}

.pin-spacer {
  @apply !overflow-hidden;
}

.linkHover .span1,
.linkHover .span2 {
  @apply duration-500;
}

/* NEIGHBORHOOD PAGE */

.infoBlock {
  @apply h-fit;
}

.infoContainer {
  grid-template-rows: 200px auto auto;
}

.filters button.group {
  @apply border-b-0;
}

.filters button.group span.second {
  @apply px-4;
}

.filters .active-filter {
  @apply bg-crimsonRed py-1 px-2;
}

.neighborhoodPage h2,
.propertyPage h2 {
  @apply leading-8;
}

.mapBoxContainer button {
  @apply !min-w-0;
}

.mapBoxContainer button > span {
  @apply !min-w-0 bg-casperWhite;
}

.mapBoxContainer .gm-style-iw {
  @apply bg-offBlack p-4 pt-0 !max-h-max;
  /* absolute -left-[2%] */
}

.mapBoxContainer .gm-style-iw-tc {
  @apply hidden;
}

.gm-style-iw-d {
  @apply !overflow-visible pr-4 !pb-4;
}

.gm-style-iw-chr {
  @apply pr-4;
}

.blogFilter {
  @apply rounded-lg bg-casperWhite text-offBlack px-3 py-[5px] place-self-center w-full text-center;
}

.transitionHover {
  @apply transform transition-transform duration-300 ease-in-out hover:-translate-y-[.35rem] hover:cursor-pointer;
}

/* NAV */

nav button {
  @apply pb-0 hover:cursor-pointer;
}

nav button span {
  @apply text-[18px];
}

/* PAGE TRANSITION */

::view-transition-old(root),
::view-transition-new(root) {
  @apply !animate-none;
}

::view-transition-group(root) {
  @apply !z-auto;
}

::view-transition-image-pair(root) {
  @apply isolate z-[1];
  will-change: transform, opacity, clip-path;
}

::view-transition-new(root) {
  @apply z-[10000] !animate-none;
}

::view-transition-old(root) {
  @apply z-[1] !animate-none;
}

.articlePage .blogFilter::before {
  @apply bg-casperWhite;
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

.searchSection > * {
  @apply cursor-pointer;
}

.priceFilter div[data-slot="thumb"]::after,
.sqftFilter div[data-slot="thumb"]::after {
  @apply bg-offBlack w-[.5rem] h-[.5rem];
}

.priceFilter div[data-slot="thumb"],
.sqftFilter div[data-slot="thumb"] {
  @apply bg-casperWhite;
}

.bg-content1 {
  @apply !bg-offBlack p-0;
}

.embla {
  /* max-width: 48rem;
  margin: auto;
  --slide-height: 19rem; */
  --slide-spacing: 1rem;
  --slide-size: 100%;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  /* padding-left: var(--slide-spacing); */
}
.embla__slide__number {
  /* box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast); */
  /* border-radius: 1.8rem; */
  /* font-size: 4rem; */
  /* font-weight: 600; */
  /* display: flex; */
  align-items: center;
  justify-content: center;
  /* height: var(--slide-height); */
  user-select: none;
}
.embla-thumbs {
  --thumbs-slide-spacing: 0.8rem;
  --thumbs-slide-height: 6rem;
  /* margin-top: var(--thumbs-slide-spacing); */
}
.embla-thumbs__viewport {
  overflow: hidden;
}
.embla-thumbs__container {
  display: flex;
  flex-direction: row;
  margin-left: calc(var(--thumbs-slide-spacing) * -1);
}
.embla-thumbs__slide {
  flex: 0 0 22%;
  min-width: 0;
  padding-left: var(--thumbs-slide-spacing);
}
@media (min-width: 576px) {
  .embla-thumbs__slide {
    flex: 0 0 15%;
  }
}
.embla-thumbs__slide__number {
  border-radius: 1.8rem;
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  /* box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--detail-high-contrast); */
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--thumbs-slide-height);
  width: 100%;
}
.embla-thumbs__slide--selected .embla-thumbs__slide__number {
  color: var(--text-body);
}

.embla__button {
  -webkit-appearance: none;
  appearance: none;
  touch-action: manipulation;
  text-decoration: none;
  cursor: pointer;
  border: 0;
}
.embla__button:disabled {
  @apply text-shadowGrey cursor-not-allowed;
}

div#\:r2\: {
  @apply justify-center;
}

.gallerySlider .buttons {
  justify-self: anchor-center;
}

button[aria-label="Close"] {
  @apply z-20 bg-transparent hover:bg-transparent border-0 justify-items-center text-casperWhite hover:text-casperWhite text-[2rem] pt-6;
}

.showingContainer #filterButton {
  @apply !border-b-offBlack;
}

div#\:r6\: {
  @apply !px-0 !py-0;
}

div#\:R2cnfnnnl7H2\: {
  @apply !p-0;
}
